createdAt: "2018-11-21T09:20:02.503Z"
updatedAt: "2018-11-21T13:02:08.992Z"
type: "MARKDOWN_NOTE"
folder: "81df0d9d3066ad50d2ea"
title: "MDL-56482: peer review"
content: '''
  # MDL-56482: peer review
  [[MDL-56482] Grader Report Hide/Show function does not work with group filter - Moodle Tracker](https://tracker.moodle.org/browse/MDL-56482)
  
  ## grade_object
'''
tags: []
isStarred: false
isTrashed: false
